---
---

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>The User is My Mom</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Richard Littauer">
    <meta name="copyright" content="&copy; Richard Littauer and Scotty Allen 2015">
      <!-- OG tags -->

    <meta property="og:description" content="Dear internet: my mom is tired of your shit. She can't understand your website and it isn't her fault. It's time we talked." />
    <meta property="og:url" content="http://theuserismymom.com/" />
    <meta property="og:site_name" content="The User Is My Mom" />
    <meta property="og:title" content="The User Is My Mom" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://theuserismymom.com/assets/worried.png" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="1018" />
    <meta property="og:image:height" content="805" />

    <!-- Twitter: card tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="The User Is My Mom">
    <meta name="twitter:description" content="Dear internet: my mom is tired of your shit. She can't understand your website and it isn't her fault. It's time we talked.">
    <meta name="twitter:image" content="http://theuserismymom.com/assets/worried.png">
    <meta name="twitter:url" content="http://theuserismymom.com">

    <!-- OpenSource Metatags -->
    <link rel="profile" href="https://osprotocol.com/" />
    <meta property="os:repo" content="https://github.com/RichardLitt/the-user-is-my-mom" />
    <meta property="os:rcs_type" content="git" />
    <meta property="os:src" content="git@github.com:RichardLitt/the-user-is-my-mom.git" />
    <meta property="os:issue" content="https://github.com/RichardLitt/the-user-is-my-mom/issues" />

    <meta name="google-site-verification" content="EFodTAB3_9r6zm3zFbeHdKBeRQT3SwAUmSLy4TwyQT0" />

    <link rel="stylesheet" href="stylesheets/basic.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrap">
    <div class="text">
      {{ content }}
    </div>
  </div>
        <script src="https://apis.google.com/js/platform.js"></script>

  <script>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
  <script src="javascripts/scale.fix.js"></script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-4124866-32");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>

  </body>
</html>
